body {
  margin: 0;
}

/* nav styles */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 596px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
}
